body{
    font-family: 'MedievalSharp', cursive;
    background-color: peru;
    
}

.wrapper{
    width: 80%;
    margin: 3 auto;
    display: flex;
}

.controls, .results {
    flex: 1;
    padding: 10px;
}

h1{
    text-align: center;
}

.skillDesc {
    font-family: 'MedievalSharp', cursive;
    color: white;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.skillPic {
    float: left;
    margin: 0 10px 0 10px;
    padding: 5;
}


.skillsDiv {
    padding: 0 0 1vh 0;
    margin: 5vh 0;
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
    /* background-color: magenta; */
    width: 50%;
    margin-left: 25%;
    text-align: start;
}

.results{
    width: 25%;
}


.skillsHeading {
    font-family: 'MedievalSharp', cursive;
    background-color: white;
    color: black;
    border-radius:5px 5px 0 0;
    padding: 0 0 0 0.5vw;
    margin: 0 0 2vh 0;
}

